/.idea
/backend/.idea
target
*.iml
out
.DS_Store

//
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log
yarn-error.log
/typings

# System Files
.DS_Store
Thumbs.db
*/model/backend.model.ts

/mongo/data
